mixin advantages(modifier)
  section.advantages(id="advantages")
    .advantages__list
      .container
        .row
          .col-md-4
            .advantages__item.text-center
              .advantages__img
                a.advantages__img-link(href="#")
                  .advantages__img-more
                    i.fa.fa-search
                    span view more
                  img(src="img/img-advantages-1.jpg" alt="Flashes")
              h3.title3 creative minds
              p.advantages__text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
          .col-md-4
            .advantages__item.text-center
              .advantages__img
                a.advantages__img-link(href="#")
                  .advantages__img-more
                    i.fa.fa-search
                    span view more
                  img(src="img/img-advantages-2.jpg" alt="Desktop")
              h3.title3 think alike
              p.advantages__text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
          .col-md-4
            .advantages__item.text-center
              .advantages__img
                a.advantages__img-link(href="#")
                  .advantages__img-more
                    i.fa.fa-search
                    span view more
                  img(src="img/img-advantages-3.jpg" alt="Dog")
              h3.title3 pixel perfection
              p.advantages__text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
        .row
          .col-12
            ul.slider__controls.slider__controls--advantages.ml-auto.mr-auto.d-flex.justify-content-center
              li.slider__dot.slider__dot--advantages.slider__dot--active
              li.slider__dot.slider__dot--advantages
              li.slider__dot.slider__dot--advantages
