mixin features(modifier)
  section.features(id="features")
    .container
      .row
        .col-md-12.ml-auto.mr-auto.text-center
          h2.title2 Love what you do, and you’ll do it well
          +hr
    .features__list
      .container
        .row
          .col-md-4
            .features__item.text-center
              .features__icon.features__icon--1.ml-auto.mr-auto
              h3.title3 digital design //
              p.features__text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.
          .col-md-4
            .features__item.text-center
              .features__icon.features__icon--2.ml-auto.mr-auto
              h3.title3 web development //
              p.features__text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.
          .col-md-4
            .features__item.text-center
              .features__icon.features__icon--3.ml-auto.mr-auto
              h3.title3 we love you //
              p.features__text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.
