mixin footer(modifier)
  footer.footer
    .container
      .row
        .col-12
            .footer__copyright
              a.footer__link(href="#") Terms & Conditions
              span |
              a.footer__link(href="#") Legals
