mixin header(modifier)
  header.header(id="header")
    .container
      .row
        .col-12
          +site-nav
      .row
        .col-12.text-center
          .header__title
            h1.title1 Halcyon
              span.text-muted days
            p.desc An exclusive HTML5/CSS3 freebie by Peter Finlan, for
              i  Codrops.
            a.button(href="#about") learn more
