mixin promo(modifier)
  section.promo.parallax(id="promo")
    .container
      .row
        .col-md-12
          .promo__text.text-center.ml-auto.mr-auto
            p.promo__title i got 99 problems
            p.promo__paragraph but
              i  design
              |  ‘aint one
            a.button.button--round(href="#advantages")
              i.fa.fa-chevron-down
