mixin promo(modifier)
  section.promo(id="promo")
    .container
      .row.col-md-12
        .promo__text.text-center.ml-auto.mr-auto
          p.promo__title i got 99 problems
          p.promo__paragraph but
            i  design
            |  ‘aint one
          //- добавить ссылку
          a.button.button--round(href="#")
            i.fa.fa-chevron-down
