mixin slider(modifier)
  section.slider(id="slider")
    .slider__bg1
    .container
      .row
        .col-md-6
          .slider__img
        .col-md-5.ml-auto
          .slider__desc
            h2.title2 Responsive design specialist
            +hr
            p.slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.

            p.slider__text Mauris ultrices odio vitae nulla ultrices iaculis. Nulla rhoncus odio eu lectus faucibus facilisis. Maecenas ornare augue vitae sollicitudin accumsan.

            p.slider__text Etiam eget libero et erat eleifend consectetur a nec lectus. Sed id tellus lorem. Suspendisse sed venenatis odio, quis lobortis eros.
          ul.slider__controls.slider__controls--adaptive.ml-auto.mr-auto.d-flex.justify-content-center
            li.slider__dot.slider__dot--adaptive.slider__dot--active
            li.slider__dot.slider__dot--adaptive
            li.slider__dot.slider__dot--adaptive
