mixin team(modifier)
  section.team(id="team")
    .container
      .row
        .col-md-12.ml-auto.mr-auto.text-center
          h2.title2 We’re a team that adore what we do
          +hr
      .row
        .col-md-4
          .team__member
            .team__photo
              svg(x="0px", y="0px", viewBox="0 0 1000 1000")
                path(fill="url(#pattern1)", d="M499.9,10c-24.5,0-49.1,9.7-82.8,29L141.9,197.9c-67,38.8-82.5,65.7-82.5,143.3V659c0,77.4,15.5,104.4,82.5,143.3l275.4,158.9c33.7,19.2,58.2,28.9,82.8,28.9s49.1-9.7,82.8-28.9l275.3-158.9c66.9-38.8,82.5-65.7,82.5-143.3V341.2c0-77.5-15.6-104.5-82.5-143.3L582.6,39C548.9,19.7,524.4,10,499.9,10L499.9,10L499.9,10L499.9,10z")

                pattern(id="pattern1", width="100%", height="100%", patternContentUnits="objectBoundingBox", viewBox="0 0 1 1", preserveAspectRatio="xMidYMid slice")
                  image(xlink:href="img/photo-1.jpg", height="1", width="1", preserveAspectRatio="xMidYMid slice")
            h3.title3 Jon Snow
            p.team__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.

            ul.team__social
              li.team__social-item
                a.team__social-link.button.button--round(href="#")
                  i.fa.fa-dribbble
              li.team__social-item
                a.team__social-link.button.button--round(href="#")
                  i.fa.fa-twitter
              li.team__social-item
                a.team__social-link.button.button--round(href="#")
                  i.fa.fa-envelope
        .col-md-4
          .team__member
            .team__photo
              svg(x="0px", y="0px", viewBox="0 0 1000 1000")
                path(fill="url(#pattern2)", d="M499.9,10c-24.5,0-49.1,9.7-82.8,29L141.9,197.9c-67,38.8-82.5,65.7-82.5,143.3V659c0,77.4,15.5,104.4,82.5,143.3l275.4,158.9c33.7,19.2,58.2,28.9,82.8,28.9s49.1-9.7,82.8-28.9l275.3-158.9c66.9-38.8,82.5-65.7,82.5-143.3V341.2c0-77.5-15.6-104.5-82.5-143.3L582.6,39C548.9,19.7,524.4,10,499.9,10L499.9,10L499.9,10L499.9,10z")

                pattern(id="pattern2", width="100%", height="100%", patternContentUnits="objectBoundingBox", viewBox="0 0 1 1", preserveAspectRatio="xMidYMid slice")
                  image(xlink:href="img/photo-2.jpg", height="1", width="1", preserveAspectRatio="xMidYMid slice")
            h3.title3 Cersei Lannister
            p.team__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
            ul.team__social
              li.team__social-item
                a.team__social-link.button.button--round(href="#")
                  i.fa.fa-dribbble
              li.team__social-item
                a.team__social-link.button.button--round(href="#")
                  i.fa.fa-twitter
              li.team__social-item
                a.team__social-link.button.button--round(href="#")
                  i.fa.fa-envelope
        .col-md-4
          .team__member
            .team__photo
              svg(x="0px", y="0px", viewBox="0 0 1000 1000")
                path(fill="url(#pattern3)", d="M499.9,10c-24.5,0-49.1,9.7-82.8,29L141.9,197.9c-67,38.8-82.5,65.7-82.5,143.3V659c0,77.4,15.5,104.4,82.5,143.3l275.4,158.9c33.7,19.2,58.2,28.9,82.8,28.9s49.1-9.7,82.8-28.9l275.3-158.9c66.9-38.8,82.5-65.7,82.5-143.3V341.2c0-77.5-15.6-104.5-82.5-143.3L582.6,39C548.9,19.7,524.4,10,499.9,10L499.9,10L499.9,10L499.9,10z")

                pattern(id="pattern3", width="100%", height="100%", patternContentUnits="objectBoundingBox", viewBox="0 0 1 1", preserveAspectRatio="xMidYMid slice")
                  image(xlink:href="img/photo-3.jpg", height="1", width="1", preserveAspectRatio="xMidYMid slice")
            h3.title3 Jamie Lannister
            p.team__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
            ul.team__social
              li.team__social-item
                a.team__social-link.button.button--round(href="#")
                  i.fa.fa-dribbble
              li.team__social-item
                a.team__social-link.button.button--round(href="#")
                  i.fa.fa-twitter
              li.team__social-item
                a.team__social-link.button.button--round(href="#")
                  i.fa.fa-envelope
      .row
        ul.slider__controls.slider__controls--adaptive.ml-auto.mr-auto.d-flex.justify-content-center
          li.slider__dot.slider__dot--adaptive.slider__dot--active
          li.slider__dot.slider__dot--adaptive
          li.slider__dot.slider__dot--adaptive
