include ../blocks/hr.pug
include ../blocks/preloader.pug
include ../blocks/header.pug
include ../blocks/site-nav.pug
include ../blocks/main.pug
include ../blocks/about.pug
include ../blocks/features.pug
include ../blocks/slider.pug
include ../blocks/promo.pug
include ../blocks/advantages.pug
include ../blocks/cta.pug
include ../blocks/team.pug
include ../blocks/subscribe.pug
include ../blocks/contacts.pug

include ../blocks/footer.pug

include ../blocks/item.pug
include ../blocks/socials.pug
