.promo {
  padding: {
    top: 75px;
    bottom: 55px;
  }

  &.parallax {
    background-image: url('../img/bg-promo.jpg');

    &::before {
      background-color: rgba(33,32,36,0.8);
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 0.25em;
    color: #fff;
    text-transform: uppercase;
  }

  &__paragraph {
    margin-bottom: 35px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.3em;
    color: #fff;
    text-transform: uppercase;

    i {
      font-weight: 500;
      font-style: italic;
    }
  }

  @include media-breakpoint-down(xs) {
  &__title {
    font-size: 30px;
    }
  }

  &__paragraph {
    font-size: 20px;
  }
}
